@import "node_modules/bulma/css/bulma.css";

@font-face {
    font-family: 'Fuente';
    src: url('pixeloid.sans.ttf') format('truetype');
}

*{
    font-family: 'Fuente', sans-serif; /* FUENTE */
}


:root {
    /* Default global value */
    --bulma-size-medium: 1.25rem;
}
  
.button {
    /* Overrides the global value */
    --bulma-size-medium: 1.2rem;
}